modules = ["nodejs-20", "web", "swift-5.8"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm run dev"
waitForPort = 3001

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
NEXT_PUBLIC_BACKEND_URL = "https://fa75bd1a-5f2d-4cc8-828f-85270cdb330d-00-3nm0oboepxdxj.picard.replit.dev:3001"
FRONTEND_URL = "https://fa75bd1a-5f2d-4cc8-828f-85270cdb330d-00-3nm0oboepxdxj.picard.replit.dev"
NEXT_PUBLIC_SITE_URL = "https://www.vendoorx.ng"
NEXT_PUBLIC_VAPID_PUBLIC_KEY = "BHtVBKinKh9edTwtZAAq_-AEKdAQFBMbfUgaDUbC66-SWpc-CsV2KuvDBzM1rdA2H8azWKgK5xAnvA28a7WahRY"
VAPID_PRIVATE_KEY = "AT8tVw4hnvv-icrjeoAno28R8MFyTF75wGVmc3GFCXM"
VAPID_SUBJECT = "mailto:support@vendoorx.com"
NEXT_PUBLIC_TAWKTO_PROPERTY_ID = "69d594ae0d1c3f1c37998027"
NEXT_PUBLIC_TAWKTO_WIDGET_ID = "1jll4pjbb"
NEXT_PUBLIC_SUPPORT_WHATSAPP = "15792583013"
NEXT_PUBLIC_SUPABASE_URL = "https://nrrvdxbdyjwvvbrpedua.supabase.co"
NEXT_PUBLIC_APPWRITE_PROJECT_ID = "69d0104f0024b77cfd50"
NEXT_PUBLIC_APPWRITE_ENDPOINT = "https://sfo.cloud.appwrite.io/v1"
NEXT_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ycnZkeGJkeWp3dnZicnBlZHVhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzNTU4MDIsImV4cCI6MjA5MDkzMTgwMn0.BLPvQAH9cj7PnFapdtC4wTeAXfotcFhGFz-rFWXzhrg"
BACKEND_INTERNAL_URL = "http://localhost:3001"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "node_modules/.bin/next", "start", "-p", "5000", "-H", "0.0.0.0"]
build = ["npm", "run", "build"]
